<h2>Nom du cocktail : <%= @cocktail.name %></h2>
<%= link_to "crer un dose",  new_cocktail_dose_path(@cocktail.id) %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @doses.each do |dose| %>
<p><%= dose.description %> - <%= dose.ingredient.name %></p>
<% end %>
